<!-- Material form login -->
<br>
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Iniciar Sesion</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form [formGroup]="formLogin" (ngSubmit)="Login()" class="text-center" style="color: #757575;" action="#!">
            <!-- Email -->
            <div *ngIf="usuario==null" class="md-form">
                <input type="text" formControlName="cedula" class="form-control">
                <label for="materialLoginFormEmail">Cedula</label>
            </div>

            <!-- Password -->
            <div *ngIf="usuario!=null" class="md-form">
                <input type="password" formControlName="password" class="form-control">
                <label for="materialLoginFormPassword">Contraseña</label>
            </div>

            <div *ngIf="usuario!=null" class="md-form">
                <select [(ngModel)]="rol" placeholder="Rol" class="form-control" formControlName="rol" id="rol">
                    <option *ngFor="let r of usuario.roles" [value]="r.descripcion">{{r.descripcion}}</option>
                </select>
            </div>

            <!-- Sign in button -->
            <button *ngIf="usuario==null" [disabled]="!formLogin.controls['cedula'].valid" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" (click)="loadUser()">Continuar</button>
            <button *ngIf="usuario!=null" [disabled]="!formLogin.valid" type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Iniciar Sesion</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form login -->