.body {
  background-color: cornflowerblue;
}

.tituloFacultad {
  font-weight: bold;
  margin: 0;
  display: inline-block;
  font-size: xx-large;
}

.nombreFacultad {
  font-size: xx-large;
  font-weight: 900;
  margin-left:30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  -webkit-text-stroke-width: 2px;
}

.novedadWrap {
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  margin-bottom: 10px;
  padding: 10px;
}

.novedad {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
  margin-left: 5px;
  margin-bottom: 0px;
}

.botonBorde {
  border: 1px;
  border-style: solid;
  border-radius: 5px;
}

.tituloEncuesta {
  font-weight: bold;
  font-size: large;
}

.encuestaIcon {
  float: left;
  
  width: 30px;
  margin-right: 10px;
}

.botonLink {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  color: rgb(255, 0, 0);
  cursor: pointer;
  margin-left: 20px;
}

.botonLink2 {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

.botonLinkMediano {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: large;
  margin-left: 20px;
  margin-right: 11px;
}

.botonLinkMedianoGris {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: rgb(78, 78, 78);
  text-decoration: underline;
  cursor: pointer;
  font-size: large;
  margin-left: 20px;
  margin-right: 11px;
}

.botonLinkGrande {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  font-size: x-large;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 30px;
}

.botonLinkGrandeBorde {
  float: right;
  background: none!important;
  border: none;
  padding: 5px!important;
  font-family: arial, sans-serif;
  font-size: x-large;
  color: #069;
  cursor: pointer;
  margin-right: 30px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
}

.main {
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  z-index: 0;
  margin: 10px;
  padding: 20px;
  height: 100%;
  overflow: auto;
  margin-left: 2%
}

.sidebar {
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  float: left;
  margin: 10px;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#sidebarbody {
  width: 300px;
}

.rightbar {
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#footer {
  position: fixed;
  float: left;
  bottom:0;
  width:100%;
}

.topdiv {
  margin-top: 0%;
  margin-left: 2%;
}

.cursolink {
  margin-left: 2%;
  margin-bottom: 5%;
}

/* Sidebar links */
.sidebar a {
  text-align: left;
  text-decoration: none;
  color: rgb(0, 112, 216);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  text-decoration: underline;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}