<head></head>
<app-loading *ngIf='!ready' style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index:998;"></app-loading>
<body>
  
  <div>
    <app-facultadheader id="header"></app-facultadheader>
    <!-- sidebar. mover a facultad/sidebar (app-facultadsidebar) si se vuelve mas compleja-->
    <div class="sidebar" style="border-color: {{facultad.color}};">
      <div class="card">
        <div class="card-body" id="sidebarbody">
          <div class="topdiv">
            <h3>Cursos</h3>
          </div>
          <div *ngFor="let curso of facultad.cursos">
            <div class="cursolink">
              <a routerLink="/facultad/{{facultad.url}}/curso/{{curso.id}}" (click)="change(curso.id)">{{curso.nombre}}</a>
            </div>
          </div>
          
          <div *ngIf="rol != 'Estudiante'">
            <div class="listEncuestaLink">
              <a routerLink="/facultad/{{facultad.url}}/encuesta/{{'list'}}" (click)="change2()">{{'Encuestas'}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contenido de la pagina principal. Le meteria comunicaciones por facultad, y algun texto de bienvenida o algo. para rellenar. -->
    <main class="main" style="border-color: {{facultad.color}};">
      <div *ngIf='isCurso'>
        <app-curso [cursoId]="cursoId"></app-curso>
      </div>
      <div *ngIf='isAddEncuesta'>
       <app-add-encuesta></app-add-encuesta>
      </div>
      <div *ngIf='isListEncuesta'>
        <app-list-encuesta></app-list-encuesta>
      </div>
      <div *ngIf='!isCurso && !isAddEncuesta && !isListEncuesta ' >
        <div class="col-md-12">
          <h1>Bienvenido a {{facultad.nombre}}</h1>
          <h3>Identificado como: {{rol}}</h3>
          <h2>Novedades:</h2>
          <div *ngIf="rol == 'Estudiante'"><h3>Esto sólo se ve como estudiante</h3></div>
          <div *ngIf="rol == 'Docente'"><h3>Esto sólo se ve como docente</h3></div>
          <div *ngIf="rol == 'Administrador'"><h3>Esto sólo se ve como administrador</h3></div>
        </div>
      </div>
    </main>

    <!-- footer simplisimo -->
    <footer id="footer">
      <app-facultadfooter></app-facultadfooter>
    </footer>
  </div>
</body>
