<head></head>
<app-loading *ngIf='!ready' style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index:998;"></app-loading>
<body>
  <div>
  <!--no es responsive-->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: {{mainColor}}">
      <a class="navbar-brand"><img (click)="home()" src="{{currentEnv.s3url}}/facultadIcon/{{fUrl}}.png" alt="No Icon" class="img-fluid" style="width: 80px"></a>
      <h1 style="color: {{textColor}}; width: 100%;">{{facultadNombre}}</h1>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: {{textColor}};">Cuenta</a>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink" style="float:left;">
              <!--<a class="dropdown-item" [routerLink]="['/']" routerLinkActive="router-link-active">Opción placeholder 1</a>-->
              <button type="button" class="dropdown-item danger-color" style="color: white" (click)="logout()" [routerLink]="['/']">Salir</button>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- sidebar. mover a facultad/sidebar (app-facultadsidebar) si se vuelve mas compleja-->
    <div class="sidebar" style="border-color: {{facultad.color}};">
      <div class="card">
        <div class="card-body" id="sidebarbody">
          <div class="topdiv">
            <h3 style="display: inline-block;">Cursos</h3> 
            <button *ngIf="rol == 'estudiante'" type="button" class="btn btn-primary btn-sm" style="float: right;" (click)="toggleCursos()">{{botonTexto}}</button>
          </div>
          <div *ngFor="let curso of mostrarCursos">
            <div class="cursolink">
              <a routerLink="/facultad/{{facultad.url}}/curso/{{curso.id}}" (click)="change(curso.id)">{{curso.nombre}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contenido de la pagina principal. Le meteria comunicaciones por facultad, y algun texto de bienvenida o algo. para rellenar. -->
    <main class="main" style="border-color: {{facultad.color}};">
      <div *ngIf='isCurso'>
        <app-curso [cursoId]="cursoId"></app-curso>
      </div>
      <div *ngIf='!isCurso' >
        <div>
          <h1 class="tituloFacultad">Bienvenido a {{facultad.nombre}}</h1>
          <button class="botonLinkGrandeBorde" style="border-color: {{facultad.color}};" *ngIf="rol=='administrador'" (click)="gestion();">Gestión</button>
          <h3>Identificado como: {{rol}}</h3>
          <h2>Novedades:</h2>
          <div *ngFor="let com of comunicados">
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
            <!-- COSAS DE COMUNICADO -->
          </div>

          <div *ngFor="let encuesta of encuestas">
            <h3 class="tituloEncuesta">{{encuesta.encuesta.titulo}}</h3>
            <img class="encuestaIcon" src="assets/tarea-completada.png">
            <button *ngIf="rol == 'estudiante'" class="botonLinkMediano" (click)="responderencuesta(encuesta.idEncuesta)" style="float:none">Responder</button>
            <br>
          </div>
        </div>
      </div>
    </main>
    <!-- footer simplisimo -->
    <footer id="footer">
      <app-facultadfooter></app-facultadfooter>
    </footer>
  </div>
</body>
