.body {
  background-color: cornflowerblue;
}

.main {
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  z-index: 0;
  margin: 10px;
  padding: 0;
  height: 100%;
  overflow: auto;
  margin-left: 2%
}

.sidebar {
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  float: left;
  margin: 10px;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#sidebarbody {
  width: 300px;
}

.rightbar {
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#footer {
  float: left;
  bottom:0;
  width:100%;
}

.topdiv {
  margin-top: 0%;
  margin-left: 2%;
}

.cursolink {
  margin-left: 2%;
  margin-bottom: 5%;
}

.addEncuestaLink {
  margin-left: 2%;
  margin-bottom: 5%;
}

/* Sidebar links */
.sidebar a {
  text-align: left;
  text-decoration: none;
  color: rgb(0, 112, 216);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  text-decoration: underline;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}