<h1 mat-dialog-title style="text-align: center;">Estadística de cursos de {{facultad}}</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">Curso</th>
      <th class="text-center">Docentes</th>
      <th class="text-right">Estudiantes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos" class="text-center">
      <td class="text-left">{{curso.nombre}}</td>
      <td class="text-center">{{curso.docentes.length}}</td>
      <td class="text-right">{{curso.usuarios.length}}</td>
    </tr>
  </tbody>
</table>
