.body {
  background-color: cornflowerblue;
}

.secciones {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.seccion {
  width: 90%;
  margin-left: 10px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.titulocurso {
  font-weight: bold;
  margin: 0;
  display: inline-block;
  font-size: xx-large;
}

.tituloseccion {
  font-weight: lighter;
  font-size: x-large;
}

.tituloComponente {
  font-weight: bold;
  font-size: large;
}

.componente {
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  margin-bottom: 10px;
  padding: 10px;
}

.componenteBody {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  white-space:pre-wrap;
}

.componenteImagen {
  max-width: 80%;
}

.componenteArchivo {
  text-decoration: underline;
}

.archivoIcon {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}

.botonLink {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

.botonLinkMediano {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: large;
  margin-left: 20px;
  margin-right: 11px;
}

.botonLinkGrande {
  float: right;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  font-size: x-large;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 30px;
}

.main {
  z-index: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  margin-left: 2%
}

.sidebar {
  border-right: 10px;
  border-right-style: solid;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#sidebarbody {
  width: 300px;
}

.rightbar {
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#footer {
  float: left;
  bottom:0;
  width:100%;
}

.topdiv {
  margin-top: 0%;
  margin-left: 2%;
}

.cursolink {
  margin-left: 2%;
  margin-bottom: 5%;
}

/* Sidebar links */
.sidebar a {
  text-align: left;
  text-decoration: none;
  color: rgb(0, 112, 216);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  text-decoration: underline;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}