<div style="margin: 10px;">
  <div>
    <!-- headbar -->
    <h1 class="titulocurso">{{curso.nombre}}</h1>
    <button *ngIf="isAdmin" class="botonLinkGrande" style="color:rgb(231, 18, 18);" (click)="eliminarCurso()">Eliminar</button>
    <button *ngIf="isDocente || isAdmin" class="botonLinkGrande" (click)="listUsuarios()">Estudiantes</button>
    <button *ngIf="isDocente || isAdmin" class="botonLinkGrande" (click)="editCurso(curso.id, curso.nombre)">Editar</button>
    <button *ngIf="isDocente || isAdmin" class="botonLinkGrande" (click)="addDocente()">+ Docente</button>
    <button *ngIf="isDocente" class="botonLinkGrande" (click)="crearEncuesta()">+Encuesta</button>
    <button *ngIf="isDocente" class="botonLinkGrande" (click)="addSeccion()">+ Sección</button>
    <!-- /headbar -->
    <!-- informacion -->
    <h4 style="margin-left: 20px">Docentes:</h4>
    <div *ngFor="let docente of curso.docentes">
      <p style="margin-left: 30px">{{docente.nombre}} {{docente.apellido}}</p>
    </div>
    <div *ngIf="isEstudiante && !isMatriculado">
      <button class="botonLinkGrande" (click)="matricularse()">Matricularse</button>
    </div>
    <!-- /informacion -->
    <div *ngIf="!isEstudiante || (isEstudiante && isMatriculado)">
      <!-- Seccion -->
      <div *ngFor="let seccion of curso.secciones" class="secciones">
        <div class="seccion">
          <hr>
          <h2 class="tituloseccion" *ngIf="isDocente" style="display: inline-block;">({{seccion.indice}}) {{seccion.titulo}}</h2>
          <h2 class="tituloseccion" *ngIf="!isDocente">{{seccion.titulo}}</h2>
          <button *ngIf="isDocente" class="botonLinkMediano" style="color:rgb(231, 18, 18);" (click)="deleteSeccion(seccion.id, seccion.titulo)">Eliminar</button>
          <button *ngIf="isDocente" class="botonLinkMediano" (click)="editSeccion(seccion.id, seccion.titulo, seccion.indice)">Editar</button>
          <button *ngIf="isDocente" class="botonLinkMediano" (click)="addComponente(seccion.id)">+ Componente</button>
          <!-- Componente -->
          <div class="componente"  *ngFor="let componente of seccion.componentes"  style="margin-left: 10px;">
            <div>
              <h3 class="tituloComponente" *ngIf="isDocente && componente.tipo != 'encuesta'" style="display: inline-block;">({{componente.indice}}) {{componente.nombre}}</h3>
              <h3 class="tituloComponente" *ngIf="!isDocente && componente.tipo != 'encuesta'">{{componente.nombre}}</h3>
              <button *ngIf="isDocente" class="botonLink" style="color:rgb(231, 18, 18);" (click)="deleteComponente(componente.id, seccion.titulo, componente.nombre)">Eliminar</button>
              <button *ngIf="isDocente" class="botonLink" (click)="editComponente(componente.id, componente.nombre, componente.indice)">Editar</button>

              <div *ngIf="componente.tipo == 'encuesta'" class="componenteArchivo">
                <h3 class="tituloComponente">{{componente.nombre}}</h3>
                <img class="encuestaIcon" src="assets/tarea-completada.png">
                <button *ngIf="isDocente || isAdmin" class="botonLinkMediano" (click)="verRespuestasEncuesta(componente.encuesta.idEncuesta)" style="float:none">Ver respuestas</button>
                <button *ngIf="isEstudiante" class="botonLinkMediano" (click)="responderencuesta(componente.encuesta.idEncuesta)" style="float:none">Responder</button>            
              </div>

              <div *ngIf="componente.tipo == 'archivo' " class="componenteArchivo">
                <img class="archivoIcon" src="assets/{{icon(componente.archivo.extension)}}">
                <a href="{{currentEnv.s3url}}/{{componente.archivo.ubicacion}}" target="_blank" download>{{componente.archivo.nombre}}.{{componente.archivo.extension}}</a>
              </div>

              <div *ngIf="componente.tipo == 'imagen'" class="imagen">
                <img class="componenteImagen" src="{{currentEnv.s3url}}/{{componente.archivo.ubicacion}}" alt="No image">
              </div>

              <div *ngIf="componente.tipo == 'texto'" class="texto">
                <pre class="componenteBody">{{componente.texto}}</pre>
              </div>

              <div class="componente" *ngIf="(componente.tipo == 'contenedor')">
                <div class="componenteArchivo">
                  <button *ngIf="isDocente" class="botonLink" style="color:rgb(231, 18, 18);" (click)="deleteComponente(componente.id, seccion.titulo, componente.nombre)">Eliminar</button>
                  <button *ngIf="isDocente" class="botonLink" (click)="editComponente(componente.id, componente.nombre, componente.indice)">Editar</button>
                  <img class="encuestaIcon" src="assets/tarea.png">
                  <h3 *ngIf="isDocente" class="botonEncuesta">{{componente.nombre}}</h3>  
                  <h3 *ngIf="isEstudiante" (click)="entregarTarea(componente.contenedorTarea.id, componente.nombre, componente.contenedorTarea.fechaCierre)" class="botonEncuesta">{{componente.nombre}}</h3>           
                </div>
              </div>
            </div>
          </div>
          <!-- /Componente -->
        </div>
      </div>
      <!-- /Seccion -->
    </div>
  </div>
</div>