<app-udelarheader></app-udelarheader>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Modificar Curso</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="cursoForm">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text"  class="form-control" [(ngModel)]="curso.nombre" name="nombre" [ngClass]="{'is-invalid':cursoForm.get('nombre').errors && cursoForm.get('nombre').touched}" formControlName="nombre">
                    
                    <label for="">Cantidad de creditos:</label>
                    <input type="number"  class="form-control" [(ngModel)]="curso.cantCreditos" name="cantCreditos" [ngClass]="{'is-invalid':(cursoForm.get('creditos').errors && cursoForm.get('creditos').touched) || cursoForm.get('creditos').value<1}" formControlName="creditos" required maxlength=2>

                </div>
                <button (click)="Actualizar(curso)"  [disabled]="cursoForm.invalid"  class="btn btn-danger">Actualizar</button>
            </form>
        </div>
        <div class="card-header">
            <h3>Agregar docente</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="docenteForm">
                <label for="">Docente:</label>
                <select [(ngModel)]="docenteid" [ngClass]="{'is-invalid':docenteForm.get('docente').errors && docenteForm.get('docente').touched}" placeholder="Docente" class="form-control"
                    formControlName="docente" id="docente">
                    <option *ngFor="let usuario of docentes" [value]="usuario.cedula">{{usuario.nombre}} {{usuario.apellido}}</option>
                </select>
                <button (click)="AgregarDocente()"  [disabled]="docenteForm.invalid"  class="btn btn-danger">Agregar</button>
            </form>
        </div>
    </div>
</div>




