<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Cursos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Cant Creditos</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of cursos"  class="text-center">
                        <td>{{curso.id}}</td>
                        <td>{{curso.nombre}}</td>
                        <td>{{curso.cantCreditos}}</td>
                        <td>
                            <button (click)="Editar(curso)" class="btn btn-warning">Editar</button>
                            <button (click)="Delete(curso)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button (click)= "Nuevo()"  class="btn btn-info" style="margin-left:10px;">Agregar</button>
            </div>
        </div>
    </div>
</div>