<h1 mat-dialog-title style="text-align: center;">Gestionar {{facultad}}</h1>
<div class="contenedor" style="display: flex; flex-direction: column; align-items: center;">
  <div>
    <button class="btn btn-dark" (click)="configColor()">Configurar color</button>
    <button class="btn btn-dark" (click)="addCurso()">Alta de curso</button>
    <button class="btn btn-dark" (click)="infoCursos()">Información de cursos</button>
    <button class="btn btn-dark" (click)="estadisticaCursos()">Estadística de cursos</button>

  </div>
  <div>
    <button class="btn btn-dark" (click)="addAdmin()">Alta de administrador</button>
    <button class="btn btn-dark" (click)="addDocente()">Alta de docente</button>
    <button class="btn btn-dark" (click)="removeAdmin()">Baja de administrador</button>
    <button class="btn btn-dark" (click)="removeDocente()">Baja de docente</button>
  </div>
  <div>
    <button class="btn btn-dark" (click)="addEncuesta()">Alta de encuesta</button>
    <button class="btn btn-dark" (click)="listEncuesta()">Lista de encuestas</button>
    <button class="btn btn-dark" (click)="publicarComunicado()">Publicar comunicado</button>
    <button class="btn btn-dark" (click)="publicarComunicadoCurso()">Publicar a curso</button>
  </div>
  <div>
    <button class="btn btn-dark" (click)="addTemplate()">Alta de plantilla</button>
    <button class="btn btn-dark" (click)="listTemplate()">Lista de plantillas</button>
    <button class="btn btn-dark" (click)="addSeccionTemplate()">+ Seccion a plantilla</button>
    <button class="btn btn-dark" (click)="listSeccionTemplate()">Secciones de plantilla</button>
  </div>
  <div>
    <button class="btn btn-dark" (click)="Cerrar()">Cerrar</button>
  </div>
</div>