<h1 mat-dialog-title style="text-align: center;">Gestionar {{facultad}}</h1>
<mat-dialog-content class="contenedor" style="display: flex; flex-direction: column; align-items: center;">
  <div>
    <button class="btn btn-dark" (click)="configColor()">Configurar color</button>
    <button class="btn btn-dark" (click)="addCurso()">Alta de curso</button>
    <button class="btn btn-danger" >Alta de plantilla</button>
    <button class="btn btn-danger" >Lista de plantillas</button>
    
  </div>
  <div>
    <button class="btn btn-dark" (click)="addAdmin()">Alta de administrador</button>
    <button class="btn btn-dark" (click)="addDocente()">Alta de docente</button>
    <button class="btn btn-dark" (click)="removeAdmin()">Baja de administrador</button>
    <button class="btn btn-dark" (click)="removeDocente()">Baja de docente</button>
  </div>
  <div>
    <button class="btn btn-dark" (click)="addEncuesta()">Alta de encuesta</button>
    <button class="btn btn-dark" (click)="listEncuesta()">Lista de encuestas</button>
    <button class="btn btn-danger" >Alta de comunicado</button>
    <button class="btn btn-danger" >Lista de comunicados</button>
  </div>
</mat-dialog-content>