<div style="text-align:center">
  <h1>
    Entrega Individual
  </h1>
</div>
<div class="container">
  <button (click)= "ListarFacultades()" class="btn btn-info" style="margin-right: 10px;">Facultad</button>
  <button (click)= "ListarCarreras()" class="btn btn-info" style="margin-right: 10px;">Carreras</button>
  <button (click)= "ListarUsuarios()" class="btn btn-info" style="margin-right: 10px;">Usuarios</button>
  <button (click)= "ListarCursos()" class="btn btn-info" style="margin-right: 10px;">Cursos</button>
  <button (click)= "ListarUsuariosXFacultad()" class="btn btn-info" style="margin-right: 10px;">Usuarios por facultades</button>
</div>

<router-outlet></router-outlet>


