<!-- Material form login -->
<button class="btn btn-dark" [routerLink]="['/']">Atrás</button>
<br>
<div style="display: flex; flex-direction: column; align-items: center;">
    <div class="card mt-5" style="width: 40%;">

        <h5 class="card-header bg-dark white-text text-center py-4">
            <strong>Iniciar Sesion</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form [formGroup]="formLogin" (ngSubmit)="Login()" class="text-center" style="color: #757575;" action="#!">
                <!-- Email -->
                <div class="md-form">
                    <input type="text" formControlName="id" class="form-control">
                    <label for="materialLoginFormEmail">Id</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" formControlName="password" class="form-control">
                    <label for="materialLoginFormPassword">Contraseña</label>
                    <span class="error" [hidden]="formLogin.controls['password'].pristine || !formLogin.controls['password'].getError('incorrect')">Contraseña Incorrecta</span>
                </div>

                <!-- Sign in button -->
                <button [disabled]="!formLogin.valid" type="submit" class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0">Iniciar Sesion</button>
            </form>
        </div>
    </div>
</div>
<!-- Material form login -->