<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Facultad</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text"  class="form-control" [(ngModel)]="facultad.nombre" name="nombre">
                    <label for="">Color:</label>
                    <input type="text"  class="form-control" [(ngModel)]="facultad.color" name="color">
                    <label for="">URL:</label>
                    <input type="text"  class="form-control" [(ngModel)]="facultad.url" name="url">
                    <input type="file" #file placeholder="Subir Icono" (change)="subirIcono(file.files)">
                </div>
                <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>