<app-udelarheader></app-udelarheader>
    <div class="container col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Agregar Usuario</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="form-group">
                        <label for="">Cedula:</label>
                        <input type="text"  class="form-control" [(ngModel)]="usuario.cedula" name="cedula" [ngClass]="{'is-invalid':userForm.get('cedula').errors && userForm.get('cedula').touched}" formControlName="cedula">
                        <label for="">Facultad:</label>
                        <select [(ngModel)]="usuario.facultadId" [ngClass]="{'is-invalid':userForm.get('facultadid').errors && userForm.get('facultadid').touched}" placeholder="ID facultad" class="form-control"
                            formControlName="facultadid" id="fid">
                            <option *ngFor="let fac of facultades" [value]="fac.id">{{fac.nombre}}</option>
                        </select>
                        <label for="">Nombre:</label>
                        <input type="text"  class="form-control" [(ngModel)]="usuario.nombre" name="nombre" [ngClass]="{'is-invalid':userForm.get('nombre').errors && userForm.get('nombre').touched}" formControlName="nombre">
                        <label for="">Apellido:</label>
                        <input type="text"  class="form-control" [(ngModel)]="usuario.apellido" name="apellido" [ngClass]="{'is-invalid':userForm.get('apellido').errors && userForm.get('apellido').touched}" formControlName="apellido">
                        <label for="">Correo:</label>
                        <input type="text"  class="form-control" [(ngModel)]="usuario.correo" name="mail" [ngClass]="{'is-invalid':userForm.get('mail').errors && userForm.get('mail').touched}" formControlName="mail">
                        <label for="">Contraseña:</label>
                        <input type="password"  class="form-control" [(ngModel)]="usuario.contrasena" name="password" [ngClass]="{'is-invalid':userForm.get('password').errors && userForm.get('password').touched}" formControlName="password" required minlength=6>
                        <div *ngIf = "userForm.get('password').invalid &&  (userForm.get('password').dirty || userForm.get('password').touched)" class="alert alert-danger">
                            <div *ngIf="userForm.get('password').errors.required">
                                La Contraseña es requerida.
                            </div>
                            <div *ngIf="userForm.get('password').errors.minlength">
                                La Contraseña debe tener minimo 6 caracteres.
                            </div>
                        </div>
                        <br>
                        <table style="width: 100%;">
                            <tr>
                                <th style="width: 33%;">Administrador</th>
                                <th style="width: 33%;">Docente</th>
                                <th style="width: 33%;">Estudiante</th>
                            </tr>
                            <tr>
                                <td style="width: 33%;"><input type="checkbox" id="rol1" class="form-control" [(ngModel)]="rol1" name="rol1" formControlName="roles"></td>
                                <td style="width: 33%;"><input type="checkbox" id="rol2" class="form-control" [(ngModel)]="rol2" name="rol2" formControlName="roles"></td>
                                <td style="width: 33%;"><input type="checkbox" id="rol3" class="form-control" [(ngModel)]="rol3" name="rol3" formControlName="roles"></td>
                            </tr>
                        </table>
                       

                    </div>
                    <button (click)="Guardar(usuario)" class="btn btn-danger" [disabled]="userForm.invalid || !rol1&&!rol2&&!rol3">Guardar</button>
                </form>
            </div>
        </div>
    </div>
