<h2 mat-dialog-title style="text-align: center;">Lista de usuarios matriculados</h2>
<mat-dialog-content class="contenedor">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-left">Nombre</th>
                <th class="text-center">Nota</th>
                <th class="text-center">Comentarios</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of calificacion" class="text-center">
                <td class="text-left" style="padding: 5px; padding-top: 15px; font-size:large; width: 30%">{{u.nombre}} {{u.apellido}}</td>
                <td style="padding: 5px; padding-top: 15px; font-size:large; width: 5%">{{u.nota}}</td>
                <td style="padding: 5px; padding-top: 15px; font-size:large; width: 35%">{{u.comentario}}</td>
                <td class="text-center" style="padding: 5px; width: 30%">
                    <button (click)="calificar(u.cedula, u.nombre, u.apellido)" class="btn btn-dark" style="width: 90px; padding: 5px;">Calificar</button>
                    <button (click)="baja(u.cedula)" class="btn btn-danger" style="margin-left: 10px; width: 90px; padding: 5px;">Dar de baja</button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>