<h3 mat-dialog-title style="text-align: center;">¿Seguro que desea eliminar la sección "{{seccionNombre}}" del curso "{{cursoNombre}}"? Esta acción es irreversible.</h3>
<mat-dialog-content class="contenedor">
  <form [formGroup]="seccionForm" style="margin-top: 40px;">
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="confirmar" [ngClass]="{'is-invalid':seccionForm.get('confirmar').errors && seccionForm.get('confirmar').touched}" formControlName="confirmar">
        <label for="">Eliminar definitivamente </label>  
      </div>
    </div>
    <button (click)="Guardar()" class="btn btn-danger" [disabled]="seccionForm.invalid || !seccionForm.controls['confirmar'].value">Eliminar</button>
    <button (click)="Cerrar()" class="btn btn-dark">Cancelar</button>
  </form>
</mat-dialog-content>