<app-udelarheader></app-udelarheader>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Modificar Usuario</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <label for="">Nombre:</label>
                    <input type="text"  class="form-control" [(ngModel)]="usuario.nombre" name="nombre" [ngClass]="{'is-invalid':userForm.get('nombre').errors && userForm.get('nombre').touched}" formControlName="nombre">
                    <label for="">Apellido:</label>
                    <input type="text"  class="form-control" [(ngModel)]="usuario.apellido" name="apellido" [ngClass]="{'is-invalid':userForm.get('apellido').errors && userForm.get('apellido').touched}" formControlName="apellido">
                    <label for="">Correo:</label>
                    <input type="text"  class="form-control" [(ngModel)]="usuario.correo" name="mail" [ngClass]="{'is-invalid':userForm.get('mail').errors && userForm.get('mail').touched}" formControlName="mail">
                    <label for="">Contraseña:</label>
                    <input type="password"  class="form-control" [(ngModel)]="usuario.contrasena" name="password" [ngClass]="{'is-invalid':userForm.get('password').errors && userForm.get('password').touched}" formControlName="password" required minlength=6>
                    <div *ngIf = "userForm.get('password').invalid &&  (userForm.get('password').dirty || userForm.get('password').touched)" class="alert alert-danger">
                        <div *ngIf="userForm.get('password').errors.required">
                            La Contraseña es requerida.
                        </div>
                        <div *ngIf="userForm.get('password').errors.minlength">
                            La Contraseña debe tener minimo 6 caracteres.
                        </div>
                    </div>                
                </div>
                <button (click)="Actualizar(usuario)" [disabled]="userForm.invalid" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>